<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">



<module name="Checker">


 <!-- modulo FileLength -->
 <!-- controlla la lunghezza massima del file -->
  <module name="FileLength">
    <property name="max" value="60"/> <!-- impostato max 60: voglio un codice semplice e breve (default sarebbe 2000) -->
  </module>


 <!-- modulo LineLength -->
 <!-- controlla la lunghezza massima della riga -->
  <module name="LineLength"/>
     <property name="max" value="120"/> <!-- impostato a max 120 (default sarebbe 80) -->
  </module>


 <!-- modulo FileTabCharacter -->
 <!-- controlla se ci sono tabulazioni nel file -->
  <module name="FileTabCharacter"/>


 <!-- modulo Header -->
 <!-- controlla l'header del file -->
    <module name="Header">
     <property name="header"
        value="////////////////////////////////////////////////////////////////////\n// [FERDINANDO] [FRACASSO] [2122649]\n// [ALESSIO] [SILVESTRINI] [2111032]\n////////////////////////////////////////////////////////////////////\n"/>
        <!-- header da consegna -->
    </module> 


  <module name="TreeWalker">

   <!-- modulo BooleanExpressionComplexity -->
   <!--controlla il numero massimo di espressioni booleane ammesse -->
    <module name="BooleanExpressionComplexity">
      <property name="max" value="5"/> <!-- impostato max 5 (default sarebbe 3) -->
    </module>

   <!-- modulo CyclomaticComplexity -->
   <!-- controlla il numero massimo di cicli ammessi -->
    <module name="CyclomaticComplexity">
      <property name="max" value="4"/> <!-- impostato max 4 (default sarebbe 10) -->
    </module>

   <!-- modulo MethodLength -->
   <!-- controlla la lunghezza massima del metodo (default è 150)-->
    <module name="MethodLength"/>

   <!-- modulo EmptyCatchBlock -->
   <!-- controlla se ci sono blocchi catch vuoti -->
    <module name="EmptyCatchBlock"/>

   <!-- modulo AvoidStarImport -->
   <!-- controlla se ci sono import di tipo * -->
    <module name="AvoidStarImport"/>

   <!-- modulo IllegalImport -->
   <!-- controlla se ci sono import illegali -->
    <module name="IllegalImport"/>

   <!-- modulo NeedBraces -->
   <!-- controlla le parentesi graffe -->
    <module name="NeedBraces"/>

  </module>


</module>